[mysqld]
server-id = 2                # 서버의 고유 식별자 (각 서버마다 다른 값 필요)
relay-log = mysql-relay-bin  # 릴레이 로그 파일의 기본 이름 (마스터로부터 받은 변경사항 저장)
log_bin = mysql-bin          # 바이너리 로그 파일의 기본 이름
binlog_do_db = bank          # 복제할 데이터베이스 지정
ssl-ca=/etc/mysql/ssl/ca-cert.pem
ssl-cert=/etc/mysql/ssl/client-cert.pem
ssl-key=/etc/mysql/ssl/client-key.pem