[mysqld]
server-id = 1                # 서버의 고유 식별자 (마스터는 보통 1)
log_bin = mysql-bin          # 바이너리 로그 파일의 기본 이름
binlog_format = ROW          # 바이너리 로깅 형식 (ROW, STATEMENT, MIXED 중 하나)
binlog_do_db = bank          # 복제할 데이터베이스 지정
ssl-ca=/etc/mysql/ssl/ca-cert.pem
ssl-cert=/etc/mysql/ssl/server-cert.pem
ssl-key=/etc/mysql/ssl/server-key.pem
performance_schema=ON
