datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://dt-prometheus:9090
    isDefault: true

  - name: Loki
    type: loki
    access: proxy
    url: http://dt-loki:3100
