server:
  port: 9786

spring:
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://192.168.36.161:23306/order_db
    username: root
    password: 1234

  data:
    redis:
      host: 192.168.36.161
      port: 26379
      password: 1234
      timeout: 10000ms
      lettuce:
        pool:
          max-active: 10
          max-idle: 10
          min-idle: 5
          max-wait: -1ms

logging:
  level:
    com.rookedsysc.monolithic.config.lock: DEBUG
    org.redisson: INFO

management:
  endpoints:
    web:
      exposure:
        include: "*"
